::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #276690;
}

::-webkit-scrollbar-thumb {
  background: #47b3ff;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1fe6b0;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #212121;
  overflow-x: hidden;
}

nav {
  display: flex;
  background: linear-gradient(90deg, #6767cf, #007e7e);
  color: white;
  padding: 1em;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  transition: all 0.2s;
}

nav ul li:hover {
  background-color: #21212150;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 1em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 25px;
  width: 100%;
}

section {
  position: relative;
  padding: 2em;
  width: 56.5%;
  background-color: rgb(20, 20, 20);
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 25px;
}

h1,
h2 {
  color: #00bbff;
}

p {
  color: #fff;
}

#chat-container {
  display: flex;
  flex-direction: column;
}

#chat-box {
  font-size: 25px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 1em;
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 1em;
  background-color: #f9f9f9;
  color: #000;
}

#user-input {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 1em;
}

button {
  padding: 1em;
  font-size: 25px;
  background: #0000ff;
  color: white;
  border: none;
  border-radius: 10px;
  transition: all 0.2s;
}

button:hover {
  background: #0056b3;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  flex: 1 1 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.2) translateY(-50px);
}

.card:active {
  transform: scale(1.1) translateY(-10px);
}

.card:nth-child(1) {
  background: linear-gradient(70deg, #0000ff, #219fff);
}
.card:nth-child(2) {
  background: linear-gradient(105deg, #6a6ad2, #65a0ce);
}
.card:nth-child(3) {
  background: linear-gradient(130deg, #e39347, #ccda4e);
}
.card:nth-child(4) {
  background: linear-gradient(150deg, #e475ce, #219fff);
}
.card.reviews {
  background: linear-gradient(20deg, #007619, #3aa62c);
}

.card h3 {
  margin-top: 0;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 60%;
  padding: 0;
}

#chat {
  position: relative;
  transform: translate(50%, 0);
  margin: 20px;
}

img[alt="mockup"] {
  width: 100%;
  border-radius: 20px;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  cursor: pointer;
  transition: all 0.2s;
}

.flip-card:active {
  transform: scale(0.9) translateY(20px);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

#waw {
    display: flex;
    flex-direction: row;
    gap: 100px;
}